* {
  font-family: "Mulish", sans-serif;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.img {
  position: absolute;
  top: 0;
  right: 0;
}

body {
  background: #012651;
  padding-top: 40px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  font-weight: bold;
  font-size: 24px;
  color: #FEA05D;
}
.header__nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__nav-item {
  margin-right: 40px;
}
.header__nav-item:last-child {
  margin-right: 0;
}
.header__nav-link {
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 0.011em;
  color: #EFF3FF;
  text-decoration: none;
}
.header__nav-link:hover {
  text-decoration: none;
  color: #EFF3FF;
}
.header__reg {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}
.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #EFF3FF;
  text-decoration: none;
}
.header__btn:hover {
  text-decoration: none;
}
.header__btnup {
  width: 111px;
  height: 48px;
  background: #FFA161;
  border-radius: 6px;
  color: #933A14;
  margin-left: 40px;
}

.footer {
  min-height: 370px;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer__info {
  max-width: 360px;
}
.footer__info-logo {
  font-weight: bold;
  font-size: 24px;
  color: #FEA05D;
}
.footer__info-descr {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: #EFF3FF;
  margin-top: 15px;
}
.footer__links {
  display: flex;
  width: 60%;
  justify-content: space-around;
}
.footer__links-title {
  font-weight: bold;
  font-size: 16px;
  color: #EFF3FF;
}
.footer__links-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.footer__links-item {
  margin-top: 24px;
}
.footer__links-item a {
  font-weight: normal;
  font-size: 14px;
  color: #EFF3FF;
  text-decoration: none;
}
.footer__links-item a:hover {
  text-decoration: none;
}
.footer__descr-title {
  font-weight: bold;
  font-size: 16px;
  color: #EFF3FF;
}
.footer__descr-text {
  font-weight: normal;
  font-size: 14px;
  color: #EFF3FF;
  margin-top: 20px;
}

.main {
  min-height: 575px;
  padding-top: 30px;
}
.main__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main__arr {
  position: absolute;
  bottom: -46%;
  right: -17%;
}
.main__info {
  position: relative;
}
.main__info-subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FEA05D;
}
.main__info-title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 60px;
  line-height: 80px;
  color: #EFF3FF;
  margin-top: 20px;
}
.main__info-descr {
  font-weight: normal;
  font-size: 16px;
  color: #EFF3FF;
  margin-top: 25px;
}
.main__info-buttons {
  margin-top: 48px;
  display: flex;
  align-items: center;
}
.main__info-get {
  width: 139px;
  height: 48px;
  background: #FFA161;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  color: #933A14;
  margin-right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__info-watch {
  width: 150px;
  height: 48px;
  border: 1px solid #EFF3FF;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  color: #EFF3FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.for {
  padding-top: 100px;
}
.for__title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 40px;
  line-height: 60px;
  color: #EFF3FF;
  max-width: 480px;
  margin-top: 16px;
}
.for__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.1px;
  color: #FFA161;
}
.for__descr {
  font-weight: normal;
  font-size: 16px;
  color: #EFF3FF;
  margin-top: 32px;
  opacity: 0.7;
  max-width: 380px;
}
.for__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 48px;
}
.for__item {
  width: 317px;
  height: 348px;
  background: rgba(61, 137, 225, 0.16);
  border-radius: 12px;
  padding-top: 35px;
}
.for__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background: #11437C;
  margin: 0 auto;
}
.for__item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #EFF3FF;
  text-align: center;
  margin-top: 24px;
}
.for__item-descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #EFF3FF;
  opacity: 0.7;
  margin-top: 8px;
  max-width: 270px;
  margin: 0 auto;
}
.for__item-btn {
  display: flex;
  width: 137px;
  height: 48px;
  background: #ffa061;
  border-radius: 6px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #933A14;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  cursor: pointer;
  border: 1px solid rgba(239, 243, 255, 0);
  margin-top: 24px;
}
.for__item-btn:hover {
  background: rgba(255, 160, 97, 0);
  border: 1px solid #eff3ff;
  color: #EFF3FF;
}

.promo {
  padding-top: 125px;
}
.promo__subtitle {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #FFA161;
  text-align: center;
}
.promo__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #EFF3FF;
  max-width: 420px;
  margin: 0 auto;
  margin-top: 16px;
}
.promo__descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #EFF3FF;
  opacity: 0.6;
  margin-top: 24px;
  text-align: center;
}
.promo__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #EFF3FF;
  margin: 0 auto;
  margin-top: 24px;
}
.promo__switch {
  position: relative;
  width: 54px;
  height: 24px;
  background: rgba(239, 243, 255, 0.3);
  border-radius: 16px;
  cursor: pointer;
}
.promo__round {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 4%;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #EFF3FF;
  transition: all 0.5s;
  cursor: pointer;
}
.promo__round.active {
  left: 57%;
  transition: all 0.5s;
}
.promo__text {
  position: relative;
  max-width: 155px;
  margin: 0 auto;
  margin-top: 24px;
  font-weight: 600;
  font-size: 14px;
  color: #FFA161;
}
.promo__arr {
  position: absolute;
  top: -85%;
  right: 0;
}
.promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.promo__item {
  width: 282px;
  height: 604px;
  border: 1px solid #EFF3FF;
  border-radius: 10px;
}
/*# sourceMappingURL=main.css.map */
